<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <a class="icon-link" href="#">
        <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
        Icon link
    </a>
</head>
<body>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-togwgler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc4.html">Mario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc2.html">Sonic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc3.html">Fornite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc4.html">Subway Surfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc5.html">Juego 5</a>
                        </li>
                    </ul>    
                </div>
            </div>
        </nav>
    </header>
    <p>El juego es gratuito y se puede jugar en los portatiles</p>
    <p>Resumen: Valorant es un shooter táctico en primera persona desarrollado y publicado por Riot Games.
        El juego se juega en partidas 5v5 donde dos equipos compiten para completar objetivos.
        Cada jugador selecciona un personaje llamado "agente", cada uno con habilidades únicas que pueden ayudar a su equipo en la batalla.
        El juego se centra en el uso estratégico de habilidades, el trabajo en equipo y la precisión en el combate.
        Los objetivos pueden incluir plantar o desactivar una bomba, o eliminar al equipo contrario.
    </p>
    <p>Personajes: 
        Jett: Una Duelista ágil con habilidades centradas en la movilidad y el sigilo.
        Phoenix: Un Duelista que puede controlar el fuego y curarse a sí mismo.
        Sova: Un Iniciador con habilidades para rastrear y detectar enemigos a larga distancia.
        Brimstone: Un Controlador que puede desplegar humo, fuego y lluvia orbital para controlar el campo de batalla.
        Cypher: Un Sentinela especializado en vigilancia y recopilación de información a través de cámaras y trampas.
        Omen: Un Controlador que puede teleportarse y oscurecer la visión de los enemigos con su habilidad sombría.
        Sage: Una Sentinela que puede curar a sus aliados y bloquear el paso de los enemigos con su pared de hielo.
    </p>
    <main>

    </main>
    <footer>

    </footer>

</body>
</html>