<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.videojocs.css">
    <a class="icon-link" href="#">
        <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
        Icon link
    </a>
</head>
<body>
    <header>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-togwgler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc4.html">Mario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc2.html">Sonic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc3.html">Fornite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc4.html">Subway Surfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="videojoc5.html">Juego 5</a>
                        </li>
                    </ul>    
                </div>
            </div>
        </nav>
    </header>
    <p>El juego es de pago y gratuito (depende de donde lo vayas a jugar) si es paaraa jugar en el movil es gratuito y
        si es para lo demas es de pago, y se puede jugar en:
       NES (Nintendo Entertainment System), SNES (Super Nintendo Entertainment System), 
       Nintendo 64,  GameCube,  Wii (a través de la Consola Virtual), 
       Wii U (a través de la Consola Virtual), 
       Nintendo Switch (a través de Nintendo Switch Online y compilaciones de juegos de Mario), 
       Super Mario Run: Disponible para dispositivos iOS (iPhone, iPad) y Android, 
       NES Classic Edition: Mario Bros viene preinstalado en esta consola retro, 
       Super NES Classic Edition: También incluye Mario Bros como uno de los juegos preinstalados.</p>
    <p>Resumen: Mario Bros es un videojuego de plataformas desarrollado por Nintendo.
         El juego sigue las aventuras de Mario, un fontanero italiano, y su hermano Luigi,
          mientras atraviesan varios mundos para rescatar a la Princesa Peach del malvado Bowser, el rey de los Koopas. 
          Los jugadores deben saltar sobre enemigos, esquivar obstáculos y
           recoger monedas a lo largo de los niveles para avanzar y
            enfrentarse a Bowser en su castillo.</p>

    <p>Personajes: 
        Mario: El héroe principal de la serie, un fontanero italiano valiente y aventurero.
        Luigi: El hermano de Mario, conocido por su personalidad más tímida y suerte variable.
        Princesa Peach: La princesa del Reino Champiñón, a menudo secuestrada por Bowser, pero ocasionalmente también es una luchadora valiente.
        Bowser: El principal antagonista, rey de los Koopas y el archienemigo de Mario.
        Yoshi: Un dinosaurio amigo de Mario que a menudo ayuda en sus aventuras, conocido por su lengua larga y habilidades para tragar enemigos.
        Toad: Un habitante del Reino Champiñón, reconocible por su cabeza en forma de hongo y su lealtad a la Princesa Peach.
        Donkey Kong: Un gorila gigante que a veces es aliado y otras veces adversario de Mario.
        Wario: El malvado y codicioso rival de Mario, conocido por su personalidad avariciosa y su bigote similar.
        Waluigi: El compañero de Wario, conocido por su personalidad extravagante y por su relación como rival de Luigi.
        Bowser Jr.: El hijo de Bowser, a menudo ansioso por impresionar a su padre y seguir sus malvados pasos.
    </p>
    <main>

    </main>
    <footer>

    </footer>
 
</body>
</html>